<div class="scale">
  <div>
    <span>T</span>
    <span>H</span>
    <span>E</span>
    <span>-</span>
    <span>G</span>
    <span>I</span>
    <span>N</span>
    <span>S</span>
    <span>B</span>
    <span>E</span>
    <span>R</span>
    <span>G</span>
  </div>

  <div class="headshot">
    <%= link_to roulettes_home_path do %>
    <img src="assets/headshot.jpg">
    <% end %>

  </div>

  <div>
    <span id="email">jeffginsberg87@gmail.com</span>
  </div>
</div>
